<?xml version="1.0" ?>
<launch>    
    <param name="gazebo"                   value="false"    type="bool"/>
    <param name="gazebo_robot_name"        value="humanoid_robot"/>
    
    <param name="offset_file_path"         value="$(find humanoid_robot_tuning_module)/data/offset.yaml"/>
    <param name="robot_file_path"          value="$(find humanoid_robot_manager)/config/HUMANOID_ROBOT.robot"/>
    <param name="init_file_path"           value="$(find humanoid_robot_manager)/config/dxl_init_HUMANOID_ROBOT.yaml"/>
    <param name="device_name"              value="/dev/ttyUSB0"/>
    
    <!-- HUMANOID_ROBOT Manager -->
    <node pkg="humanoid_robot_manager" type="humanoid_robot_manager" name="humanoid_robot_manager" output="screen">
	  <param name="angle_unit" value="30" />
	</node>

    <!-- HUMANOID_ROBOT Localization -->
    <node pkg="humanoid_robot_localization" type="humanoid_robot_localization" name="humanoid_robot_localization" output="screen"/>
</launch>
